{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}Pushmycart{% endblock %}
{% block contents %}
    <div class="text-center p20">
            <img src="{% static 'img/company_logo.jpeg' %}" width="250">
        </div>
    <div class="card shadow panel p30 margin-center" style="width: 50%;">
    <div class="row">
        <div class="col-md-5">
            State:<br>

            <select name="state" class="form-control">
            <option value="">------------------</option>
                {% for state in states %}
                    <option value="{{ state.id }}">{{ state }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-5">
            City:<br>
            <select name="city" class="form-control"></select>
        </div>
        <div class="col-md-2">
            <br>
            <button class="btn btn-primary" id="searchBtn">Search</button>
        </div>
    </div>
        <div>
            <h2>Customer care persons:</h2>
        <div class="roomContainer row" style="margin-top: 40px; padding-left: 20px;">

        </div>
        </div>
    </div>
{% endblock %}
{% block page_scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("select[name=state]").change(function () {
                $("select[name=city]").html('');
               var val = $("select[name=state]").val();
               var type = 'city';
               $.get('{% url 'accounts:location_api' %}?loc_id='+val+"&loc_type="+type, function(data, status){
                   console.log(data);
                   var html = '';
                   for(var i=0;i<data.length;i++){
                       html += "<option value='"+data[i].id+"'>"+data[i].text+"</option>";
                   }
                    $("select[name=city]").html(html);
               });
            });
            $("#searchBtn").click(function () {
                var state = $("select[name=state]").val();
                var city = $("select[name=city]").val();
                $.get('{% url 'room:room_search_api' %}?city='+city+"&state="+state, function(data, status){
                   console.log(data);
                   var html = '';
                   for(var i=0;i<data.length;i++){
                       html += "<div class='panel p20 col-md-6' ><h4><a href='/room/"+data[i].uid+"/join/as-guest/?n={{ guest_name }}'>"+data[i].user_name+"</a></h4>";
                       if(data[i].status == 'active'){
                           html += "<i class=\"fa fa-circle\" style='color:green'></i> Active</div>";
                       }
                       else if(data[i].status == 'away') {
                           html += "<i class=\"fa fa-circle\" style='color:gray'></i> Away</div>";
                       }
                       else if(data[i].status == 'busy') {
                           html += "<i class=\"fa fa-circle\" style='color:red'></i> Busy</div>";
                       }

                   }
                    $(".roomContainer").html(html);
               });
            })
        });
    </script>
{% endblock %}